body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell',
    'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  height: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Roboto', monospace;
}

/* SLIDER */

.next {
  left: 0;
}

.prev {
  right: 0;
}

.arrows {
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
  position: absolute;
  top: 50%;
  margin: 30px 0 0 0;
}

.ant-select-selection-item-remove {
  font-size: 12px !important;
}

.medalTitle {
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 22px !important;
}
.title {
  font-size: 22px !important;
}
